{% extends "base.html" %}

{% block info %}
<div class="section">
    <div class="card hoverable" style="display: block">
        <div class="card-content ">
            <div class="container">
                <table id="course_info" class="">
                    <tbody>
                    <tr>
                        <th>Course Number</th>
                        <td>{{ info.course_number }}</td>
                    </tr>
                    <tr>
                        <th>Title</th>
                        <td>{{ info.title }}</td>
                    </tr>
                    <tr>
                        <th>Instructor(s)</th>
                        <td>{{ info.instructor|e }}</td>
                    </tr>
                    <tr>
                        <th>TA(s)</th>
                        <td>{{ info.ta }}</td>
                    </tr>
                    <tr>
                        <th>Course Page</th>
                        <td>{{ info.course_page|e }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>
{% endblock info %}

{% block activities %}
<div class="section">
    <ul id="activities" class="collapsible popout" data-collapsible="accordion expandable">
        {% for activity in activities %}
            <li class="waves-effect waves-red" style="display: block">
            {% if loop.index == 1 %}
                <div class="collapsible-header active">
            {% else %}
                <div class="collapsible-header">
            {% endif %}
                    <div class="row">
                        <div class="col s4 center"><i class="material-icons">filter_drama</i>{{ activity.name }}</div>
                        <div class="col s4 center">{{ activity.due_date }}</div>
                        <div class="col s4 center">{{ activity.grade }}</div>
                    </div>
                </div>
                <div class="collapsible-body">
                    <div class="container section">
                        <table>
                            <thead>
                                <tr>
                                    <th data-field="id">Name</th>
                                    <th data-field="name">Item Name</th>
                                    <th data-field="price">Item Price</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>Alvin</td>
                                    <td>Eclair</td>
                                    <td>$0.87</td>
                                </tr>
                                <tr>
                                    <td>Alan</td>
                                    <td>Jellybean</td>
                                    <td>$3.76</td>
                                </tr>
                                <tr>
                                    <td>Jonathan</td>
                                    <td>Lollipop</td>
                                    <td>$7.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock activities %}